* {
    box-sizing: border-box;
}

/* Color palette sourced from https://www.color-hex.com/color-palette/109907 Blood & Cinder palette */
:root {
    --burgandy: #8f0c0c;
    --grape: #a36697;
    --pale-grey: #cecadc;
    --medium-grey: #827c7c;
    --dark-grey: #2f2e2e;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: var(--pale-grey);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 20px 0;
    background-color: var(--dark-grey);
    width: 100%;
    position: fixed;
}

h1 {
    font-family: 'Architects Daughter', cursive;
    font-size: 65px;
    color: var(--grape);
    padding-left: 25px;
}

h2 {
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    margin: 25px 300px auto 35px;
    padding: 15px;
    font-size: 15px;
    line-height: 1.5;
    color: var(--dark-grey);
    background-color: var(--pale-grey);
    text-align: left;
    border: var(--grape) solid 5px;
    border-radius: 10px;
}

h3 {
    font-family: 'Architects Daughter', cursive;
    font-size: 35px;
    color: var(--burgandy);
}

h4 {
    font-size: 15px;
    color: var(--grape);
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
}

.navbar {
    padding-top: 20px;
}

.align-right li {
    display: inline-block;
    text-align: center;
    justify-content: space-around;
    margin: 8px;
    padding: 15px;
    font-size: 15px;
    list-style-type: none;
    background-color: var(--pale-grey);
}

.aside {
    margin-left: 25px;
    padding: 20px;
    float: left;
    flex: 25%;
    max-width: 15%;
}

.bulk {
    width: 85%;
}

.hero {
    height: 650px;
    width: 100%;
    margin: 110px 0 25px 0;
    background-image: url("https://t4.ftcdn.net/jpg/02/13/53/77/240_F_213537787_UuIw2GYMA3GoDNfxYLTCtLVoc406ujIE.jpg");
    background-size: cover;
    background-position: center;
}

/* FIX REQUIRED TO MAKE THE TEXT WRAP */
.capabilities {
    display: block;
    margin-left: 300px;
    padding-left: 100px;
    font-size: 15px;
    line-height: 1.5;
    color: var(--dark-grey);
    border-left: var(--burgandy) solid 5px;
    list-style-type: disc;
}

.work,
.contact {
    display: block;
    margin-left: 300px;
    padding-left: 100px;
    border-left: var(--burgandy) solid 5px;
    font-size: 15px;
}

#text {
    padding: 4px 0;
}

#cards {
    padding: 118px 0;
}

#details {
    padding: 898px 0 0 0;
}

#work {
    margin: 20px 0;
}

#bigcard img {
    border: var(--burgandy) solid 5px;
    border-radius: 10px;
    /* width=676px height=448px */
    /* flex: 1 1 676px; */
}

/* FIX REQUIRED TO MAKE THE Ps STAY BEHIND THE HEADER!!! RELATIVE IS WRONG?!! */
#bigcard p {
    position: relative;
    bottom: 40px;
    left: 4px;
    width: 450px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--grape);
    color: var(--dark-grey);
    border: var(--burgandy) solid 2px;
    border-radius: 5px;
}

.container {
    display: flex;
    align-items: left;
    flex-flow: row wrap;
    align-content: left;
}

.smallcard img {
    border: var(--burgandy) solid 5px;
    border-radius: 10px;
    margin: 0 10px 0 0;
    /* flex: 1 1 376px; */
}

.smallcard p {
    position: relative;
    bottom: 40px;
    left: 4px;
    width: 350px;
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--grape);
    color: var(--dark-grey);
    border: var(--burgandy) solid 2px;
    border-radius: 5px;
}

#bigcard img:hover,
.smallcard img:hover {
    box-shadow: 0 0 50px var(--dark-grey);
}

.contact>li {
    padding: 10px 0;
    margin-bottom: 5px;
    font-size: 15px;
    list-style: none;
    color: var(--dark-grey);
}

footer {
    display: block;
    text-align: center;
    padding: 20px;
    background-color: var(--dark-grey);
}

/* FIX REQUIRED TO MAKE THE MEDIA QUERY SECTION WORK */
/* FIX REQUIRED TO MAKE THE ASIDE RE-SIZE */
/* Small images are split into two columns at 1080px or smaller */
/* @media screen and (max-width: 1080px) {

    .smallcard img,
    .smallcard p {
        width: 50%;
        min-height: 264px;
    }
} */

/* Small images are stacked on top of each other at 600px or smaller */
/* @media screen and (max-width: 600px) {

    .smallcard img,
    .smallcard p {
        width: 100%;
        min-height: 264px;
    }
} */

/* FIX REQUIRED TO MAKE THE NAV BAR CHANGE TO COLUMN INSTEAD OF ROW */
/* @media screen and (max-width: 768px) {
    .align-right li {
        flex-direction: column;
    }
} */

/* FIX REQUIRED TO MAKE THE IMAGES SHRINK */

@media screen and (min-width: 480px) {
    .aside {
        width: 62px;
        float: left;
    }

    .bulk {
        width: auto;
    }
}